@import 'mixins';
@font-face {
  font-family: "HelloKatterine";
  src: url("@/assets/fonts/HelloKatterine.otf") format("opentype");
  }
// new design style
.logo {
  font-family: 'HelloKatterine';
  font-style: normal;
  font-weight: 400;
  font-size: 100vh;
  line-height: 100vh;
  line-height: 397px;
  color: #000000;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  overflow-y: hidden;
  font-family: 'Inter', 'Helvetica Neue', 'Segoe UI', 'Fira Sans', Roboto,
    Oxygen, Ubuntu, 'Droid Sans', 'Arial', sans-serif;
  font-weight: 400;
  color: #1a1a1a;
  background-color: $light-gray;
  line-height: 24px;
}

textarea::placeholder {
  font-family: 'Inter', 'Helvetica Neue', 'Segoe UI', 'Fira Sans', Roboto,
    Oxygen, Ubuntu, 'Droid Sans', 'Arial', sans-serif !important;
  font-weight: 400;
  font-size: 14px;
}

.scroll {
  overflow-y: scroll;
  &::-webkit-scrollbar {
      width: 0;
  }
}

.horizontal-divider {
  height: 21px;
}

.vertical-divider {
  width: 21px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color:#7a92ef;
  text-decoration: underline;
  text-underline-offset: 4px;
  cursor: pointer;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

.text-center {
  text-align: center;
}

hr {
  background: rgba(0,0,0,.08);
  height: 1px;
  width: 100%;
  margin: 0;
  border: none;
  @include max(768) {
    display: none;
  }
}

.toolbar-post {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #a0b9f1;
  border-radius: 1000px;
  margin-left: -21px;
  width: 180px;
  height: 48px;
  cursor: pointer;
  font-size: 18px;
  color: #fdfdfd;
  transition: all 200ms ease;
  &:hover {
    background-color: #7a92ef;
  }
  &:active {
    transform: scale(0.975);
  }
  &.toolbar-active {
    background-color: #f2f2f2;
    color: rgba(0, 0, 0, 0.9);
  }
}