// Not my colors
$red: #e03737;
$black: #1A1A1A;
$green: #1fb141;
$blue: #496ddb;
$light-gray: #f2f2f2;
$light-blue: #f6f9fc;
$gray: rgba(0, 0, 0, 0.2);
$color-link-underline: rgba(#000000, 0.25);

// Approximate screen size breakpoints
$xs: 520;
$header-bp: 980;
$sm: 991;
$md: 1280;
$lg: 1440;
$xl: 1920;

// Colors selected during development
$color1: #1a1a1a;
$color2: #f2f2f2;
$color3: #7a92ef;
$color4: #fdfdfd;
$color5: #a0b9f1;
$color6:#fefefe;
$color7:rgba(0, 0, 0, 0.9);
$color8:#8a96a3;
$color9:#ebebeb;
$color10:#65657b;
$color11:#808097;
$color12:white;
$color13:#333;
$color14:violet;
$color15:rgba(138,150,163,.25);
$color16:#eb8c8c;
$color17:#e74848;
$color18:#fff;
$color19:rgb(242,242,242);
$color20:rgb(212, 211, 211);
$color21:#555;
$color22:#a0f1ab;
$color23:#ee82ee;
$color24:#ebaaeb;
$color25:rgb(230, 230, 230);



