// new design variables



// Not my colors
$red: #e03737;
$black: #1A1A1A;
$green: #1fb141;
$blue: #496ddb;
$light-gray: #f2f2f2;
$light-blue: #f6f9fc;
$gray: rgba(0, 0, 0, 0.2);
$color-link-underline: rgba(#000000, 0.25);

// Approximate screen size breakpoints
$xs: 520;
$header-bp: 980;
$sm: 991;
$md: 1280;
$lg: 1440;
$xl: 1920;

// Colors selected during development
$color1: #1a1a1a;
$color2: #f2f2f2;
$color3: #7a92ef;
$color4: #fdfdfd;
$color5: #a0b9f1;
$color6:#fefefe;
$color7:rgba(0, 0, 0, 0.9);
$color8:#8a96a3;
$color9:#ebebeb;
$color10:#65657b;
$color11:#808097;
$color12:white;
$color13:#333;
$color14:violet;
$color15:rgba(138,150,163,.25);
$color16:#eb8c8c;
$color17:#e74848;
$color18:#fff;
$color19:rgb(242,242,242);
$color20:rgb(212, 211, 211);
$color21:#555;
$color22:#a0f1ab;
$color23:#ee82ee;
$color24:#ebaaeb;
$color25:rgb(230, 230, 230);


// Font sizes used
// .creator-info-button
// font-size: 18px;

// .creator-notification-title
// font-size: 16px;
// font-weight: 500;

// .creator-title
// font-size: 24px;

// .feed-title
// font-size: 24px;

// .messages-title
// font-size: 24px;

// .messages-input
// font-size: 16px;
// font-weight: 500;

// .payments-title
// font-size: 24px;

// .payments-verify 
// font-weight: 500;
// font-size: 18px;

// .payments-tab
// font-size: 21px;

// input-label
// font-size: 16px;
// font-weight: 500;

// .help-hi
// font-size: 24px;
// font-weight: 500;


// .help-question
// color: $color2;
// font-size: 18px;

// .help-input
// font-size: 14px;

// #tooltip
// font-size: 13px;

// .choises-header
// font-size: 21px;
// font-weight: 500;

// .choises-button 
// font-size: 18px;

// .add-card-title
// font-size: 16px;
// font-weight: 500;

// .info-title
// font-size: 24px;

// .info-verify
// font-weight: 500;
// font-size: 18px;

// .info-tab
// font-size: 21px;

// .wallet-money
// font-size: 22px;

// .wallet-header
// font-size: 18px;

// .wallet-title
// font-size: 16px;
// font-weight: 500;

// .edit-account-title
// font-size: 21px;
// font-weight: 500;

// .edit-account-input
// .edit-account-textarea
// font-weight: 500;
// font-size: 16px;

// .edit-account-textarea::placeholder
// font-size: 16px;
// font-weight: 400;

// .edit-account-botton
// font-size: 16px;

// .edit-language-title
// font-size: 21px;
// font-weight: 500;

// .edit-language-button
// font-size: 18px;

// .edit-notifications-title
// font-size: 21px;
// font-weight: 500;

// .edit-notifications-input
// font-size: 16px;
// font-weight: 500;

// .edit-notifications-textarea
// font-size: 16px;
// font-weight: 500;

// .edit-notifications-textarea::placeholder
// font-size: 16px;
// font-weight: 400;

// .edit-notifications-botton
// line-height: 40px;
// font-size: 16px;

// .edit-profile-textarea
// font-size: 16px;
// font-weight: 500;

// .edit-profile-textarea::placeholder
// font-size: 16px;
// font-weight: 400;

// .post-title
// font-size: 24px;

// .post-save
// font-size: 16px;

// .post-input
// font-size: 16px;

// .create-title
// font-size: 24px;

// .create-save .create-input
// font-size: 16px;

// .news-title
// font-size: 24px;

// .profile-nickname
// font-size: 21px;
// font-weight: 500;

// .profile-tab
// font-size: 21px;

// .profile-preview-nickname
// font-size: 16px;

// .profile-preview-link
// font-size: 14px;

// .profile-input-banner
// font-size: 16px;

// .subscriptions-text
// font-size: 16px;

// .subscriptions-search
// font-size: 16px;
// font-weight: 500;

// .toolbar-post
// font-size: 18px;

// .help-logo-title
// font-weight: 700;
// font-size: 20px;

// .help-search-title
// font-weight: 700;
// font-size: 36px;

// .help-search
// font-size: 19px;

// .help-title
// font-size: 32px;
// font-weight: 700;

// .help-bottom
// font-size: 18px;

// .verification-header
// font-size: 24px;
// font-weight: 700;

// .verification-title
// font-size: 18px;
// font-weight: 600;

// .verification-button-dis
// font-size: 18px;

// .verification-button-agr
// font-size: 18px;


