$red: #e03737;
$black: #1A1A1A;
$green: #1fb141;
$blue: #496ddb;
$light-gray: #f2f2f2;
$light-blue: #f6f9fc;
$gray: rgba(0, 0, 0, 0.2);
$color-link-underline: rgba(#000000, 0.25);

$xs: 520;
$header-bp: 980;
$sm: 991;
$md: 1280;
$lg: 1440;
$xl: 1920;


